@import url("reset.css");
@import url("fonts.css");
/* ===== */

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  /* padding-left: 15px;
  padding-right: 15px; */
  padding: 0 15px;
}
/* ===== */

.header {
  background: rgb(34, 167, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 167, 195, 1) 0%,
    rgba(162, 166, 52, 0.5215336134453781) 100%
  );
  text-align: center;
}

.header__title {
  font-size: 30px;
  line-height: 2;
  letter-spacing: 3px;
  text-transform: uppercase;
  height: 100px;
  padding-top: 20px;
}
/* ===== */

.page {
  background: #fdf0e9;
  padding: 50px 0;
}

.services {
  background-color: #6e6e6e6e;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  margin: 0 -73px;
  font-size: 0;
}

.logo::after {
  content: "";
  background-color: #f3d1bf;
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 1170px;
  margin-bottom: 15px;
}
.logo__block {
  display: inline-block;
  padding: 73px;
}
.logo__pic {
  display: inline-block;
}
.logo__block img {
  max-width: 100%;
  vertical-align: middle;
}

.footer {
  background-color: #cac0b3;
  height: 100px;
  text-align: center;
  padding-top: 45px;
}

.footer__info {
  font-size: 24px;
}
