@import url("reset.css");

* {
  color: brown;
}

p {
  color: green;
}

h2 {
  color: violet;
}

.list {
  color: blue;
}

.title {
  color: gold;
}

li {
  color: black;
}

#red {
  color: red;
}

.block p {
  color: purple;
}

[class*="te"] {
  color: cadetblue;
}

.lesson > p {
  color: dimgray;
}

.lesson ~ p {
  color: chartreuse;
}

.new_list {
  color: cornflowerblue;
}
.new {
  color: chocolate;
}
