@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,700,800,900&display=swap");
/* ======================== */

@import url("reset.css");
/* ======================== */

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

[class*="__container"] {
  background-color: #6e6e6e6e;
  max-width: 1170px;
  margin: 0 auto;
}

.block-title {
  background: rgb(34, 167, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 167, 195, 1) 0%,
    rgba(162, 166, 52, 0.5215336134453781) 100%
  );
  text-align: center;
}

.block-title h1 {
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 20px 0;
}

.page {
  background: #fdf0e9;
  padding: 50px 0;
}

.logo {
  margin: 0 -73px;
  font-size: 0;
}

.logo::after {
  content: "";
  background-color: #f3d1bf;
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 1170px;
  margin-bottom: 15px;
}
.logo__block {
  display: inline-block;
  padding: 73px;
}
.logo__pic {
  display: inline-block;
}
.logo__block img {
  max-width: 100%;
  vertical-align: middle;
}

.footer {
  background-color: #cac0b3;
  text-align: center;
}

.footer-info {
  padding: 27px 0;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}
